@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color:cornflowerblue;
  transition: 0.4s;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

header {
  line-height: 1.5;
  display: flex;
  place-items: center;
  color:antiquewhite;
}

.logo {
  display: block;
  margin: 0 2rem;
  border-radius: 50%;
}

.section-header {
  text-align: center;
  display: block;
  font-size: x-large;
  font-weight: bolder;
  color:lightgrey;
}
